@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('./fonts.css');

body {
    margin: 0;
    font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
        'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
    --primary-100: #eef6f7;
    --primary-500: #65bdc4;
    --primary-800: #367c83;
    --primary-900: #038894;
}

.ant-btn-primary {
    background-color: var(--primary-500);
}

.ant-btn-primary.ant-btn-primary.ant-btn-primary:hover {
    background-color: var(--primary-800);
}

.ant-btn-default.ant-btn-default:hover {
    color: var(--primary-500);
    border-color: var(--primary-500);
}

.inline-link {
    color: var(--primary-500);
    padding: 0 2px;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-underline-offset: 4px;
}

.inline-link:hover {
    text-decoration-style: solid;
    text-decoration-thickness: 2px;
}